@model SGC.Models.Categoria

@{
    ViewBag.Title = "Eliminar categoría";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2>@ViewBag.Title</h2>
    <h3>¿Estás seguro de que deseas borrar esta categoría?</h3>
    <h4>Categoría</h4>
    <hr />
    <ul class="list-group">
        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.nombre): </b>
            @Html.DisplayFor(model => model.nombre)
        </li>
    </ul>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Volver", "Index", null, new { @class="btn btn-info" }) | 
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
