@model IEnumerable<SGC.Models.Categoria>

@{
    ViewBag.Title = "Listado de categorías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    tr, td {
        text-align: center;
        vertical-align: middle;
    }
    .content {
        margin-right: 8%;
        margin-left: 5%;
        margin-top: 2%;
        margin-right: 0;
    }
</style>

<div class="content">
    <h2>@ViewBag.Title</h2>
    <p>
        @Html.ActionLink("Crear categoría", "Create", null, new { @class = "btn btn-info" })
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">
                    #
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th class="text-center">
                    Acción
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @{int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        <span>@i</span>
                        @{i++;}
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td class="text-center">
                        @Html.ActionLink("Editar", "Edit", new { id = item.idCategoria }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.idCategoria }, new { @class = "btn btn-info" }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.idCategoria }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
