@model SGC.Models.InventarioCaracteristicas

@{
    ViewBag.Title = "Eliminar inventario características";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2>@ViewBag.Title</h2>
    <h3>¿Estás seguro de que deseas eliminar este registro?</h3>
    <h4>InventarioCaracteristicas</h4>
    <hr />
    <ul class="list-group">
        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.categoria.nombre): </b>
            @Html.DisplayFor(model => model.categoria.nombre)
        </li>

        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.Detalle): </b>
            @Html.DisplayFor(model => model.Detalle)
        </li>

        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.SoftDelete): </b>
            @Html.DisplayFor(model => model.SoftDelete)
        </li>
    </ul>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Volver", "Index", null, new { @class="btn btn-info" }) | 
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
