@model SGC.Models.InventarioCaracteristicas

@{
    ViewBag.Title = "Detalle de inventario características";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <h4>Inventario Características</h4>
    <hr />
    <ul class="list-group">
        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.categoria.nombre): </b>
            @Html.DisplayFor(model => model.categoria.nombre)
        </li>

        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.Detalle): </b>
            @Html.DisplayFor(model => model.Detalle)
        </li>

        <li class="list-group-item">
            <b>@Html.DisplayNameFor(model => model.SoftDelete): </b>
            @Html.DisplayFor(model => model.SoftDelete)
        </li>
    </ul>
    <p>
        @Html.ActionLink("Volver", "Index", null, new { @class="btn btn-info" }) | 
        @Html.ActionLink("Editar", "Edit", new { id = Model.idInventarioCaracteristicas }, new { @class = "btn btn-primary" })
    </p>
</div>
