@model SGC.Models.InventarioCaracteristicas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>InventarioCaracteristicas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.categoria.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoftDelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoftDelete)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idInventarioCaracteristicas }) |
    @Html.ActionLink("Back to List", "Index")
</p>
