@model SGC.Models.Inventario

@{
    ViewBag.Title = "Detalle inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle inventario</h2>

<div class="container">
    <h4>Inventario</h4>
    <hr />
    <ul class="list-group">
        <li class="list-group-item">
            @Html.DisplayNameFor(model => model.categoria.nombre):
            @Html.DisplayFor(model => model.categoria.nombre)
        </li>

        <li class="list-group-item">
            @Html.DisplayNameFor(model => model.usuario.Address):
            @Html.DisplayFor(model => model.usuario.Address)
        </li>

        <li class="list-group-item">
            @Html.DisplayNameFor(model => model.Codigo)
            @Html.DisplayFor(model => model.Codigo)
        </li>

        <li class="list-group-item">
            @Html.DisplayNameFor(model => model.FechaCreacion)
            @Html.DisplayFor(model => model.FechaCreacion)
        </li>

        <li class="list-group-item">
            @Html.DisplayNameFor(model => model.FechaCompra)
            @Html.DisplayFor(model => model.FechaCompra)
        </li>

        <li class="list-group-item">
            @Html.DisplayNameFor(model => model.Stock):
            @Html.DisplayFor(model => model.Stock)
        </li>

        <li class="list-group-item">
            @Html.DisplayNameFor(model => model.PeriodoMantencion):
            @Html.DisplayFor(model => model.PeriodoMantencion)
        </li>

        <li class="list-group-item">
            @Html.DisplayNameFor(model => model.SoftDelete)
            @Html.DisplayFor(model => model.SoftDelete)
        </li>
    </ul>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.idInventario }, new { @class="btn btn-primary" }) |
        @Html.ActionLink("Volver", "Index", null, new { @class="btn btn-info" })
    </p>
</div>
